@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

html, body {
  font-family: 'Noto Sans TC', sans-serif;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  overflow: auto;
}

nav {
  z-index: 100;
  width: 100%;
  display: flex;
  position:  fixed;
  height: 70px;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid #666666;
  top: 0;
  background: #ffffff;
}

ul li {
  text-decoration:  none;
}

li {
  display: inline-block;
}



#navigation-content {
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  display: inline-block;
  box-sizing: border-box;
}

#navigation-content-logo {
  background: url('http://chelinchan.com/jmi/play/images/source/logo.png');
  width: 100px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  background-size: 100%;
  margin-right: 20px;
}

.navigation-content-menu {
  font-size: 16px;
  color: #2b2b2b;
  vertical-align: middle;
}

.navigation-content-menu a {
  font-size: 16px;
  color: #2b2b2b
}

#contentAndPlayer {
  padding-top: 70px;
  height: 100%;
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

#content {
  height: 100%;
  width: 100%;
  flex: 1;
  display: block;
}

#content-lyrics {
  display:  block;
  margin: 0;
  padding: 0;
}

.content-lyrics-lyrics {
  font-size: 14px;
  padding: 15px 25px;
  box-sizing:  border-box;
  border-bottom: 1px solid #eaeaea;
  display: block !important;
  width: 100%;
  user-select: none;
}

.content-lyrics-lyrics:hover {
  background: #ececec;
}

#player {
  height: 100%;
  flex: none;
  width: 400px;
  box-shadow: 0px 3px 67px -12px rgba(0,0,0,0.48);
  display:flex;
  flex-direction:column;
}

#player-video {
	width: 400px;
	height: 230px;
	display: block;
	background: #000000;
}

#YoutubeIframe {
	max-width:100%;
  	height:100%;
}

#player-lyrics {
  display: block;
  width: 100%;
  height: auto;
  flex: 1;
  box-sizing: border-box;
  padding: 0px 25px;
  margin: 25px 0px;
  overflow-y: scroll;
}

#player-lyrics-content {
  font-size: 14px;
  color: #232323;
  font-weight: 400;
  line-height: 20px;
}

@media screen and (max-width: 700px) {
	#content {
		padding-bottom: 56.25%; /* 16:9 */
	}
	
	#player {
		position: fixed;
		bottom: 0;
		right: 0;
		width: 100vw;
		height: 0;
		padding-bottom: 56.25%; /* 16:9 */
	}
	
	#player-video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	#player-lyrics {
		display: none;
	}
	
	.Youtube-Video {
		position: relative;
	}
	
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}